# Palo Alto PAN-OS Sanitized Configuration Example
# Platform: PA-3260 Series
# PAN-OS Version: 10.2.4

set deviceconfig system hostname DC1-EDGE-FW01
set deviceconfig system domain example.org
set deviceconfig system ip-address 10.100.1.1 netmask 255.255.255.0 default-gateway 10.100.1.254
set deviceconfig system dns-setting servers primary 10.100.1.50 secondary 1.1.1.1
set deviceconfig system ntp-servers primary-ntp-server ntp.example.org

# Network Interfaces
set network interface ethernet ethernet1/1 layer3 ip 10.100.1.1/30
set network interface ethernet ethernet1/1 comment "Transit Link to DC1-CORE-SW01"
set network interface ethernet ethernet1/2 layer3 ip 198.51.100.2/29
set network interface ethernet ethernet1/2 comment "WAN Primary ISP Uplink"

# Security Zones
set zone TRUST network layer3 ethernet1/1
set zone UNTRUST network layer3 ethernet1/2

# Virtual Routers
set network virtual-router default interface [ ethernet1/1 ethernet1/2 ]
set network virtual-router default routing-table ip static-route default-wan destination 0.0.0.0/0 interface ethernet1/2 nexthop ip-address 198.51.100.1

# Security Rulebase
set rulebase security rules OUTBOUND-INTERNET from TRUST to UNTRUST source any destination any service [ service-http service-https ] action allow
set rulebase security rules OUTBOUND-INTERNET profile-setting group Best-Practice-Security-Profile
